.btn.active {
	border-width:2px;
	border-color:black;
}

#filters{
	margin-bottom: 8px;
}
#filters .form-inline{
	margin-top: 3px;
}

#filters select{
	max-width: 250px;
}

navbar-text{
	margin-right: 0px;
}

.alert{
	margin: 0 auto;
	width: 500px;
}

.ellipsis{
	overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
}

/* put border on the history executions */
#scenarios a .progress-bar{
	border-left: 1px solid #777;

}

#scenarios a:first-child .progress-bar{
	border-left: none;
	
}

#scenarios .feature{
	
} 

#scenarios .job{
	
} 

#scenarios .configuration{
	max-width: 150px;
} 

#scenarios .scenario{
	
} 

#scenarios .lastExecution{
	max-width: 150px;
} 


#scenarioModalAround {
    font-family: Arial, sans-serif;
    font-size: 10px;
}
#scenarioModalAround .axis path, #scenarioModalAround .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

#scenarioModalAround  .bar {
    fill: #ddd;
    cursor: pointer;
    stroke-width: 1px;
    stroke: #777;
  }
  
#scenarioModalAround  .bar.success{
    fill: #5cb85c;
  }
  
  #scenarioModalAround  .bar.danger{
    fill: #d9534f;
  }
  
  #scenarioModalAround  .bar.selected{
    stroke: #fbce04;
    stroke-width: 3px;
  }