.btn.active {
	border-width:2px;
	border-color:black;
}

#filters{
	margin-bottom: 8px;
}
#filters .form-inline{
	margin-top: 3px;
}

#filters select{
	max-width: 250px;
}

navbar-text{
	margin-right: 0px;
}

.alert{
	margin: 0 auto;
	width: 500px;
}

.ellipsis{
	overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
}

/* put border on the history executions */
#scenarios a .progress-bar{
	border-left: 1px solid #777;

}

#scenarios a:first-child .progress-bar{
	border-left: none;
	
}

#scenarios .feature{
	
} 

#scenarios .job{
	
} 

#scenarios .configuration{
	max-width: 150px;
} 

#scenarios .scenario{
	
} 

#scenarios .lastExecution{
	max-width: 150px;
} 